body {
    font-family: "Work Sans", sans-serif;
}

.gradient-bg {
    background: linear-gradient(300deg, #00bfff, #00e6d2, #0091ff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Change collapse button to white */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
}

#header a {
    color: white;
    font-weight: 500;
    transition: font-size 0.3s ease;
}

#header a:hover {
    font-size: 18px;
}

.nav-link {
    padding: 10px 20px !important;
}

#home .background {
    background: url(./images/bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#home h1 {
    font-size: 60px;
    font-family: "Sacramento", cursive;
}

#about-me .circle {
    border-radius: 50%;
}

.custom-blue {
    color: #89dffb;
}


.bg-custom-blue {
    background-color: #58d5ff !important;
}

.btn.gradient-bg:hover {
    background: linear-gradient(300deg, #00a5dc, #00cebd, #0077d2);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

#projects img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#projects a {
    text-decoration: none;
    color: white;
}

.card-img {
    border-radius: 5px !important;
}

.custom-height {
    height: 100px !important;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
